<div class="row">
    <div class="customerDetails col-md-3">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">name</label>
            <input type="email" class="form-control" id="nameInput" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">phone</label>
            <input type="email" class="form-control" id="PhoneInput" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">adress</label>
            <input type="email" class="form-control" id="adressInput" placeholder="">
        </div>
    </div>
    <div class="cart col-md-8">

    </div>
</div>